<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="elkapod">

  <!-- Execution env config -->
  <xacro:arg name="use_sim_time" default="false"/>

  <!-- Execution env configuration -->
  <xacro:property name="use_sim_time" default="$(arg use_sim_time)"/>

  <!-- INCLUDES -->

  <!-- Base -->
  <xacro:include filename="$(find elkapod_description)/urdf/body/body.urdf.xacro" />

  <!-- Legs-->
  <xacro:include filename="$(find elkapod_description)/urdf/left_leg/left_leg.urdf.xacro" />
  <xacro:include filename="$(find elkapod_description)/urdf/right_leg/right_leg.urdf.xacro" /> 


  <xacro:leg_left leg_name="leg1" parent="base_link" pos_x="0.13" pos_y="0.13" pos_z="-0.025" roll="0" pitch="0" yaw="1.57"/>
  <xacro:leg_left leg_name="leg3" parent="base_link" pos_x="0.0" pos_y="0.13" pos_z="-0.025" roll="0" pitch="0" yaw="1.57"/>
  <xacro:leg_left leg_name="leg5" parent="base_link" pos_x="-0.13" pos_y="0.13" pos_z="-0.025" roll="0" pitch="0" yaw="1.57"/>

  <xacro:leg_right leg_name="leg2" parent="base_link" pos_x="0.13" pos_y="-0.13" pos_z="-0.025" roll="0" pitch="0" yaw="-1.57"/>
  <xacro:leg_right leg_name="leg4" parent="base_link" pos_x="0.0" pos_y="-0.13" pos_z="-0.025" roll="0" pitch="0" yaw="-1.57"/>
  <xacro:leg_right leg_name="leg6" parent="base_link" pos_x="-0.13" pos_y="-0.13" pos_z="-0.025" roll="0" pitch="0" yaw="-1.57"/>

</robot>