<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="elkapod">

  <!-- Execution env config -->
  <xacro:arg name="sim_mode" default="false"/>

  <!-- INCLUDES -->
  <!-- Colors -->
  <xacro:include filename="$(find elkapod_description)/urdf/colors.urdf.xacro" />

  <!-- Base -->
  <xacro:include filename="$(find elkapod_description)/urdf/body/body.urdf.xacro" />

  <!-- Legs-->
  <xacro:include filename="$(find elkapod_description)/urdf/left_leg/left_leg.urdf.xacro" />
  <xacro:include filename="$(find elkapod_description)/urdf/right_leg/right_leg.urdf.xacro" /> 


  <xacro:leg_left leg_name="leg1" parent="base_link" pos_x="0.17841" pos_y="0.13276" pos_z="-0.03" roll="0" pitch="0" yaw="0.63973287"/>
  <xacro:leg_left leg_name="leg3" parent="base_link" pos_x="0.0138" pos_y="0.1643" pos_z="-0.03" roll="0" pitch="0" yaw="1.57"/>
  <xacro:leg_left leg_name="leg5" parent="base_link" pos_x="-0.15903" pos_y="0.15038" pos_z="-0.03" roll="0" pitch="0" yaw="2.384143643587"/>

  <xacro:leg_right leg_name="leg2" parent="base_link" pos_x="0.17841" pos_y="-0.13276" pos_z="-0.03" roll="0" pitch="0" yaw="-0.63973287"/>
  <xacro:leg_right leg_name="leg4" parent="base_link" pos_x="0.0138" pos_y="-0.1643" pos_z="-0.03" roll="0" pitch="0" yaw="-1.57"/>
  <xacro:leg_right leg_name="leg6" parent="base_link" pos_x="-0.15903" pos_y="-0.15038" pos_z="-0.03" roll="0" pitch="0" yaw="-2.384143643587"/>

  <!-- Sensors -->
  <xacro:include filename="$(find elkapod_description)/urdf/sensors/lidar.xacro" />
  <xacro:include filename="$(find elkapod_description)/urdf/sensors/depth_camera.xacro" />

  <!-- ros2_control -->
  <xacro:include filename="$(find elkapod_description)/ros2_control/elkapod.ros2_control.xacro" />
  <xacro:elkapod_ros2_control sim_mode="$(arg sim_mode)"/>

</robot>