<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:macro name="joint_interface" params="name min_pos_rad max_pos_rad initial_angle_rad">
        <joint name="${name}">
            <command_interface name="position">
              <param name="min">${min_pos_rad}</param>
              <param name="max">${max_pos_rad}</param>
            </command_interface>

            <state_interface name="position">
              <param name="initial_value">${initial_angle_rad}</param>
            </state_interface>
        </joint>
    </xacro:macro>


    <xacro:if value="$(arg sim_mode)">
        <ros2_control name="GazeboSystem" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            
            
            <xacro:joint_interface name="leg1_J1" min_pos_rad="-1.57" max_pos_rad="1.57" initial_angle_rad="0.0"/>
            <xacro:joint_interface name="leg1_J2" min_pos_rad="-1.57" max_pos_rad="1.57" initial_angle_rad="0.0"/>
            <xacro:joint_interface name="leg1_J3" min_pos_rad="-3.14" max_pos_rad="0.0" initial_angle_rad="0.0"/>
            
            <xacro:joint_interface name="leg3_J1" min_pos_rad="-1.57" max_pos_rad="1.57" initial_angle_rad="0.0"/>
            <xacro:joint_interface name="leg3_J2" min_pos_rad="-1.57" max_pos_rad="1.57" initial_angle_rad="0.0"/>
            <xacro:joint_interface name="leg3_J3" min_pos_rad="-3.14" max_pos_rad="0.0" initial_angle_rad="0.0"/>
            
            <xacro:joint_interface name="leg5_J1" min_pos_rad="-1.57" max_pos_rad="1.57" initial_angle_rad="0.0"/>
            <xacro:joint_interface name="leg5_J2" min_pos_rad="-1.57" max_pos_rad="1.57" initial_angle_rad="0.0"/>
            <xacro:joint_interface name="leg5_J3" min_pos_rad="-3.14" max_pos_rad="0.0" initial_angle_rad="0.0"/>
            
            
            <xacro:joint_interface name="leg2_J1" min_pos_rad="-1.57" max_pos_rad="1.57" initial_angle_rad="0.0"/>
            <xacro:joint_interface name="leg2_J2" min_pos_rad="-1.57" max_pos_rad="1.57" initial_angle_rad="0.0"/>
            <xacro:joint_interface name="leg2_J3" min_pos_rad="-3.14" max_pos_rad="0.0" initial_angle_rad="0.0"/>
            
            <xacro:joint_interface name="leg4_J1" min_pos_rad="-1.57" max_pos_rad="1.57" initial_angle_rad="0.0"/>
            <xacro:joint_interface name="leg4_J2" min_pos_rad="-1.57" max_pos_rad="1.57" initial_angle_rad="0.0"/>
            <xacro:joint_interface name="leg4_J3" min_pos_rad="-3.14" max_pos_rad="0.0" initial_angle_rad="0.0"/>
            
            <xacro:joint_interface name="leg6_J1" min_pos_rad="-1.57" max_pos_rad="1.57" initial_angle_rad="0.0"/>
            <xacro:joint_interface name="leg6_J2" min_pos_rad="-1.57" max_pos_rad="1.57" initial_angle_rad="0.0"/>
            <xacro:joint_interface name="leg6_J3" min_pos_rad="-3.14" max_pos_rad="0.0" initial_angle_rad="0.0"/>

        </ros2_control>
    </xacro:if>

    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <parameters>$(find elkapod_description)/config/my_controllers.yaml</parameters>
            <parameters>$(find elkapod_description)/config/gaz_ros2_ctl_use_sim.yaml</parameters>
        </plugin>
    </gazebo>



</robot>
